* {
  font-size: 40px;
}

.app-wrapper {
  width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
          "h h"
          "n c"
          "n c";
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
}




