* {
  font-size: 40px;
}

.app-wrapper {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
          "h h"
          "n c"
          "n c";
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
}

.header img{
  width: 70px;
  height: 70px;
}

.header {
  grid-area: h;
  background-color: lawngreen;
}

.navbar {
  grid-area: n;
  background-color: cornflowerblue;
}

.navbar a {
  display: block;
}

.content {
  grid-area: c;
  background-color: lightgrey;
}

.content img {
  width: 1000px;
  height: 350px;
}